@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.body {
    background-color:  rgb(85, 103, 138);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #000000;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    flex-direction: column;
    background-color:aliceblue;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    padding: 16px;
    gap: 10px;
    
}

.display {
    display: flex;
    justify-content: end;
    background-color: #000000;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.displaynums {
    display: flex;
    padding: 8px;
    background-color: black;
    color: rgba(127, 255, 212, 0.569);
}

.operatorContainer {
    display:flex;
    
     
}

.operator {
    flex: 1;
    background-color: pink;
    
}

.numEqualsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.numsContainer {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.row,
.equal {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.num,
.operator,
.equal {
    display: flex;
    flex: 1;
    padding: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 2px solid #4db850;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



.num {
    background-color: antiquewhite;
}

.equal {
   
   background-color: rgb(247, 100, 125);
}

/* to be implemented  */
#dot .inactive {
    cursor: not-allowed;
}