@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* 
layout 

calc class calc
    display class display 
        displaynums class displaynums
    operators class operatorContainer
        add class operator
        subtract class operator
        multiply class operator
        divide class operator
    numsequals class numequalsContainer
        nums class nums
            row 1 class row
                7 class num
                8 class num
                9 class num
            row 2 class row
                4 class num
                5 class num
                6 class num
            row 3 class row
                1 class num
                2 class num
                3 class num
            row 4 class row 
                0 class num
                . class period
                C class clear
        equal class equal
        

*/
.body {
    background-color:  rgb(85, 103, 138);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
}
